@charset "UTF-8";
/*----------------------------------ここから水平方向横スクロール------------------------------------------------------*/
.horizontal-list {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  white-space: nowrap;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.horizontal-list__item {
  margin-right: 60px;
}

.horizontal-list a {
  color: #fff;
  font-size: 14px;
}

nav {
  background-color: #333;
}

/*----------------------------------ここまで水平方向横スクロール------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.logo {
  width: 150px;
  padding: 20px 0 20px 20px;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

header {
  position: fixed;
  background-color: #fff;
  width: 100%;
}

.padding-top {
  padding-top: 144px;
}

.pickup {
  padding: 0 15px 0 15px;
  margin-bottom: 40px;
}

.pickup__content {
  margin-top: 20px;
  margin-bottom: 15px;
  line-height: 1.8em;
  text-align: initial;
}

.pickup__link {
  border-bottom: 1px solid #111;
  padding-bottom: 3px;
  font-size: 14px;
}

.pickup__list {
  text-align: center;
}

.article {
  margin-top: 90px;
  padding: 0 20px;
  text-align: center;
}

.article__title {
  font-size: 21px;
  line-height: 1.7em;
  text-align: initial;
}

.article__content {
  padding: 15px 40px;
  line-height: 1.7em;
  text-align: initial;
}

.article__link {
  border-bottom: 1px solid #111;
  padding-bottom: 3px;
  font-size: 14px;
}

.time, .category {
  font-size: 14px;
}

.category {
  margin-left: 20px;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 15px;
}

.profile {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
  padding: 0 20px;
}

.profile__image {
  width: 130px;
  height: 130px;
  border-radius: 65px;
}

.profile__name {
  margin-top: 30px;
  font-weight: bold;
}

.profile__content {
  text-align: initial;
  margin-top: 30px;
  line-height: 1.4em;
  font-size: 14px;
}

.ranking {
  display: block;
  padding: 0 20px;
  margin-bottom: 30px;
}

.ranking__title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}

.ranking__content {
  margin-top: 10px;
}

.archive {
  padding: 0 20px 60px 20px;
  margin-top: 60px;
  font-size: 18px;
  text-align: center;
}

.archive__title {
  border-bottom: 1px solid #111;
  padding-bottom: 30px;
}

.archive__list {
  text-align: initial;
  border-bottom: 1px solid #111;
  padding: 20px;
  font-size: 14px;
}

footer {
  background-color: #F7F7F7;
}

.about {
  padding: 60px 20px 0 20px;
}

.about__title {
  font-size: 18px;
  margin-bottom: 20px;
}

.about__content {
  font-size: 14px;
  line-height: 1.5em;
}

.about a {
  display: block;
  margin-top: 15px;
}

.menu {
  margin-top: 60px;
  padding: 0 20px;
}

.menu__title {
  font-size: 18px;
  border-bottom: 1px solid #111;
  padding-bottom: 30px;
}

.menu__list {
  font-size: 14px;
  border-bottom: 1px solid #111;
  padding: 20px;
}

.twitter {
  padding: 0 20px;
  margin-top: 60px;
}

.twitter__title {
  font-size: 18px;
  margin-bottom: 40px;
}

.footer {
  padding-bottom: 10px;
  font-size: 12px;
  text-align: center;
  margin-top: 100px;
}

@media screen and (min-width: 768px) {
  .pickup-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-aside-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    padding-bottom: 80px;
  }
  .article {
    margin-top: 0;
  }
  .article__list {
    margin-bottom: 60px;
  }
  main {
    width: 65vw;
  }
  aside {
    width: 35vw;
  }
  .footer-flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .about, .menu, .twitter, .r-vakc41 {
    width: 30vw !important;
  }
}

@media screen and (min-width: 1024px) {
  header {
    width: 100%;
  }
  .pickup-wrap {
    max-width: 1360px;
    margin: 0 auto;
  }
  .article__list {
    margin-bottom: 80px;
  }
  .about, .menu, .twitter, .r-vakc41 {
    width: 25vw !important;
  }
}
/*# sourceMappingURL=style.css.map */
